<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/anand/Pavithra's Testing Folder/IdeaProjects/APIAutomation_RestAssured/src/main/java/org/pavithra_RESTAssured/MyPractice/Lab0004_TestNG_AllAnnotations.java"><classes><class name="org.pavithra_RESTAssured.MyPractice.Lab0004_TestNG_AllAnnotations"><methods><include name="TestCase01"/><include name="TestCase02"/></methods></class></classes></test></suite>